

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

#mapContainer {
    height: 100%;
}

#map {
    height: 100%;
    overflow: hidden;
}














