

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}

.container-page {
    height: 100%;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.content-col {
    height: 100%;
    display: table-cell;
}

.sidebar-col {
    height: 100%;
    width: 300px;
    display: table-cell;
}

.map-actual-container {
    height: 100%;
    width: 100%;
    position: relative;
}

#map-container {
    display: table-cell;
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-y: auto;

}

#map {
    height: 100%;
    overflow: hidden;
}














